<footer>
  <div class="center">
      <!--img style="position: absolute; left: 10px; bottom: 0px; opacity: 25%;" src="/assets/i/Youhuu/Pointing2v2.svg" alt="" width="" height="50%"-->
      <div class="socialcontainer">
          <a href="https://github.com/veryuniqueusrnm" target="_blank" class="nav-btn"><i class="fa-brands fa-github"></i></a>
          <a href="https://modrinth.com/user/VeryUniqueUsrnm" target="_blank" class="nav-btn"><i class="modrinth"></i></a>
          <a href="https://www.reddit.com/user/rackajuhu/" target="_blank" class="nav-btn"><i class="fa-brands fa-reddit"></i></a>
          <a href="https://twitter.com/rackajuhu" target="_blank" class="nav-btn"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <p class="copyright">VeryUniqueUsrnm &copy; 2025.</p>
      <!--p class="footnote">Youhuu the racka sheep is the property of World Athletics. No personnel has approved to use it.</p-->
      <p class="footnote">This website is designed and optimized for the iPhone 11's screen size and up. Smaller screen sizes may cause issues.</p>
  </div>
</footer>