<header>
    <div class="smallmenu">
        <a href="/" title="Home" class="logo">VeryUniqueUsrnm</a>
        <nav class="links">
            <div class="menu-container">
                <a class="menu-button">Projects <i class="fas fa-chevron-down"></i></a>
                <div class="menu" style="left: -40px;">
                    <a href="https://github.com/veryuniqueusrnm/bedloader" target="_blank">BedLoader (Soon)</a>
                    <a href="https://modrinth.com/resourcepack/nofreezeoverlay" target="_blank">No Freeze Overlay</a>
                    <a href="https://modrinth.com/resourcepack/equipment-hider" target="_blank">Equipment Hider</a>
                    <a href="https://modrinth.com/resourcepack/classic-damage-sounds" target="_blank">Classic Damage Sound Pack (Deprecated)</a>
                    <a href="https://github.com/veryuniqueusrnm/jquery-include-html" target="_blank">Jquery Include HTML (Deprecated)</a>
                    <a href="https://github.com/veryuniqueusrnm/embed-blocker" target="_blank">Embed Blocker</a>
                </div>
            </div>
            <div class="search">
                <form id="head_search_form" action="/search" method="get">
                    <fieldset>
                        <div class="field keyword"><input type="text" id="q" name="q" autocomplete="off" value="" placeholder="Coming soon"/></div>
                    </fieldset>
                </form>
                <div class="results" id="search_result"></div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>
<div class="dropdown" style="display: none;">
    <nav class="dropdown-menu">
        <div class="menu-container-mobile">
            <a class="menu-button-mobile">Projects <i class="fas fa-chevron-down"></i></a>
            <div class="submenu">
                <a href="https://github.com/veryuniqueusrnm/bedloader" target="_blank">BedLoader (Soon)</a>
                <a href="https://modrinth.com/resourcepack/nofreezeoverlay" target="_blank">No Freeze Overlay</a>
                <a href="https://modrinth.com/resourcepack/equipment-hider" target="_blank">Equipment Hider</a>
                <a href="https://modrinth.com/resourcepack/classic-damage-sounds" target="_blank">Classic Damage Sound Pack (Deprecated)</a>
                <a href="https://github.com/veryuniqueusrnm/jquery-include-html" target="_blank">Jquery Include HTML (Deprecated)</a>
                <a href="https://github.com/veryuniqueusrnm/embed-blocker" target="_blank">Embed Blocker</a>
            </div>
        </div>
        <div class="search-mobile">
            <form id="head_search_form" action="/search" method="get">
                <fieldset>
                    <div class="field keyword"><input type="text" id="q" name="q" autocomplete="off" value="" placeholder="Coming soon"/></div>
                </fieldset>
            </form>
            <div class="results" id="search_result"></div>
        </div>
    </nav>
</div>
<noscript>
    <div id="javascript-warning" class="warning warning-yellow">
        Please enable JavaScript to use this site.
    </div>
</noscript>
