<!-- head -->
<div class="head">
  <strong><a href="/"><span>VeryUniqueUsrnm</span></a></strong>
  <div class="smallmenu">
    <ul>
      <li class="active"><a href="/"><b>Home</b></a></li>
      <li class=""><a href="#"><b>item</b></a></li>
      <li class=""><a href="#"><b>item</b></a></li>
      <li class=""><a href="#"><b>item</b></a></li>
      <li class="lang"><a href="index.html?lang=hu"><b>HU</b></a></li>
      <li class="counter"><a href="#"><b>Loading counter....</b></a></li>
    </ul>
  </div>
  <div class="logedin-topbox hidden">
    <strong><span class="nar"></span><span class="lock"></span>Signed in</strong>
    <ul>
      <li><a href="#">Sign out</a></li>
    </ul>
  </div>
  <div class="search">
    <form id="head_search_form" action="/search" method="get">
      <fieldset>
        <div class="field keyword"><input type="text" id="q" name="q" class="autocomplete" value="" placeholder="Type here to search..."/></div>
        <div class="field submit"><input type="submit" value="Submit" placeholder="Submit"/></div>
      </fieldset>
    </form>
    <div class="results" id="search_result"></div>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a rel="Menu" href="#"><b>Menu</b></a>
        <div class="submenu">
          <div class="menuitems">
            <ul>
              <li><a href="#"><b>item</b></a></li>
            </ul>
          </div>
          <div class="additional">
            <div class="promo">
              <a href="#">
                <span class="text">
                  <big class="title">placeholder</big>
                  Change the big element to h1 or h2
                </span>
                <span class="img"><img src="#" alt="" width="144" height="81"/><span></span></span>
              </a>
            </div>
          </div>
          <div class="bg"></div>
          <div class="submenu-end"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /head -->
