<!-- popuwrp -->
<div id="popupwrp">
	<div class="imageBox popup">
		<div class="viewer">
			<a class="close" href="#">Close</a>
			<a class="prev" href="#">Previous</a>
			<div class="info">
				<div class="image"><img class="rounded" src="/assets/i/none.gif" alt=""/></div>
				<span class="description"></span>
				<span class="title"></span>
			</div>
			<a class="next" href="#">Next</a>
			<span class="counter"></span>
		</div>
	</div>
	<div class="videoBox popup">
		<div class="viewer">
			<a class="close" href="#">Close</a>
			<a class="prev" href="#">Previous</a>
			<div class="info">
				<div class="video"><div id="flashcontent"></div></div>
				<span class="title"></span>
			</div>
			<a class="next" href="#">Next</a>
		</div>
	</div>
</div>
<!-- /popuwrp -->
