.warning {
    text-align: center;
    padding: 6px;
}

.warning-red {
    background-color: #fdd;
}

.warning-yellow {
    background-color: #ffd;
    color: #a80;
    font-weight: bold;
}

div.promo {
    position: relative;
    width: 100%;
    height: 350px;
}