/* footer styles */
footer {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FFF;
    width: 100%;
    min-height: 80px;
    color: #000;
}

footer div.socialcontainer {
    display: inline-flex;
    gap: 15px;
    font-size: 30px;
}

footer div.socialcontainer i {
    display: inline-flex;
    color: #000;
}

footer p.copyright {
    font-size: 20px;
}

footer p.footnote {
    font-size: 15px;
    max-width: 100%;
}


i.modrinth {
    position: relative;
    display: block;
    background-image: url(/assets/i/badges/modrinth.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    color: #000;
    margin-top: 3px;
}
/* /footer styles */