@media only screen and (max-width: 1050px) {
    html, body {
        background: #000;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.container {
        width: 98%;
        height: 100%;
    }

    div.container header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        width: 100%;
    }

    div.container div.nextto {
        position: relative;
        display: block;
        width: 100%;
    }
    
    div.container div.nextto p {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 70px;
    }

    div.card {
        width: 100%;
    }

    .menu-container {
        display: none;
    }

    footer p.footnote {
        max-width: 100%;
    }
}

@media only screen and (max-width: 868px) {
    div.container header .smallmenu nav.links a {
        display: none;
    }

    div.container header a.logo {
        width: 50px;
        padding-left: 0px;
    }

    div.container header a.logo span {
        display: none;
    }

    div.container div.hero {
        height: 100%;
    }

    div.container div.hero div.description {
        text-align: center;
    }

    div.container div.hero div.description img.youhuu {
        width: 50%;
        margin: auto;
        margin-left: 50px;
        float: none;
    }

    div.container div.hero div.description h2.title {
        font-size: 30px;
    }

    div.container div.hero div.description p.subtitle {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    div.container div.hero div.buttons {
        display: none;
    }

    div.container div.hero div.description a {
        display: block;
        text-align: center;
    }

    div.container div.about img.youhuu {
        float: right;
        margin-right: -10px;
        margin-top: -65px;
        width: 180px;
    }

    div.menu-container {
        display: none;
    }
}

@media only screen and (min-width: 869px) {
    div.container .dropdown {
        display: none;
    }
    
    div.container .dropdown-menu {
        display: none;
    }
    
    div.container header .dropdown-menu .nav-btn {
        display: none;
    }
    
    div.container header .show {
        display: none;
    }

    div.container header nav.links .hamburger {
        display: none;
    }
    
    div.container header nav.links .bar {
        display: none;
    }

}

@media screen and (max-width: 800px)
.post-content h4 {
    font-size: 18px;
}