@media (max-width: 1020px) {
    div.container {
        width: 100%;
    }
    
    div.content {
        border-radius: 0px;
        width: 100%;
    }

    div.content div.side {
        float: left;
        width: 100%;
    }

    div.content div.side div.box {
        float: left;
        clear:both;
        width: 90% !important;
    }

    div.content div.box {
        float: left;
        clear:both;
        width: 90% !important;
    }

    div.mainPromoRotator, div.mainPromoRotator div.promos, div.mainPromoRotator div.promos ul, div.mainPromoRotator div.promos ul li a.lnkMore, div.mainPromoRotator div.promos ul li a.lnkMore span, div.mainPromoRotator div.promos ul li {
        width: 100% !important;
        height: 390px;
    }

    footer {
        width: 95%;
    }

    header div.menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div.mainPromoRotator .description h3.title {
        position: relative;
        font-size: 100%;
        margin: auto;
        width: 50%;
        margin-top: 30px;
    }

    div.mainPromoRotator .description h3.subtitle {
        position: relative;
        font-size: 100%;
        margin: auto;
        width: 50%;
    }

    div.mainPromoRotator .description h3.footnote {
        position: relative;
        font-size: 80%;
        margin: auto;
        width: 50%;
    }

    td, th {
        font-size: 75%;
    }

    div.mainPromoRotator div.menuItemsContainer {
        display: none !important;
    }

    div.mainPromoRotator div.promos, div.mainPromoRotator div.promos ul, div.mainPromoRotator div.promos ul li {
        height: 390px;
        background-color: #000;
    }

    div.mainPromoRotator .description {
        position: relative;
        top: 0px;
        left: 0px;
        color: #FFF;
        background-color: #000;
        height: 370px;
    }

    div.mainPromoRotator .image {
        position: relative;
        top: 0px;
        left: 0px;
        display: block;
        margin: auto;
        width: 70%;
    }

    div.box.hero {
        height: 420px;
    }

}