/* layout */
html, body {
    background-color: #282a2e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
}
/* /layout */

/* container */
div.container {
    display: block;
    position: relative;
    background: #000;
    margin: auto;
    width: 1000px;
    min-height: 800px;
    height: auto;
    margin-bottom: -20px;
}
/* /container */

/* header styles */
div.container header {
    position: relative;
    background: #FFF;
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 696969;
}

div.container header .smallmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

div.container header a.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: #606060;
    /* background-image: url(/assets/i/Youhuu/Wave.svg); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    /* width: 50px; */
	width: auto;
}

div.container header nav.links {
    display: flex;
    gap: 5px;
}

div.container header .nav-btn {
    text-decoration: none;
    font-size: 18px;
    color: #606060;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

div.container header .nav-btn:hover {
    background-color: #e0e0e0;
}

div.container header .nav-btn.active {
    background-color: #e0e0e0;
}

div.container header nav.links .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

div.container header nav.links .bar {
    height: 3px;
    width: 25px;
    background-color:#606060;;
    border-radius: 10px;
    margin: 3px 0;
    transition: 0.4s;
}

div.container header .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 6px);
}

div.container header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

div.container header .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}

div.container .dropdown {
    display: none;
    position: absolute;
    top: 72px;
    width: 100%;
    background: #FFF;
    z-index: 696970;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	border-bottom: 1px solid #000;
}

div.container .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    padding-top: 16px;
}

nav.dropdown-menu .nav-btn {
    text-decoration: none;
    font-size: 18px;
    color: #606060;
    padding: 10px 15px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

nav.dropdown-menu .nav-btn.active {
    background-color: #e0e0e0;
}

div.menu-container {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}

a.menu-button {
    text-decoration: none;
    font-size: 18px;
    color: #606060;
    padding: 10px 0px;
    cursor: pointer;
}

a.menu-button i {
    transition: transform 0.3s ease;
}

div.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 10;
    border: 1px solid #000;
}

div.menu a {
    display: block;
    color: #606060;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu a:hover {
    background: #ddd;
    border-radius: 5px;
}

div.submenu {
    display: none;
    padding: 20px;
    border: 1px solid #606060;
    border-radius: 10px;
    margin-top: 10px;
}

div.submenu a {
    display: block;
    color: #606060;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;
}

a.menu-button-mobile {
    text-decoration: none;
    font-size: 18px;
    color: #606060;
    transition: background-color 0.3s ease;
}

.menu-container-mobile {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}
/* header styles */

/* hero styles */
div.container div.hero {
    position: relative;
    width: 100%;
    height: 416px;
    z-index: 1;
}

div.container div.hero div.description {
    position: relative;
    width: auto;
    min-height: 356px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.container div.hero div.description h2.title {
    position: relative;
    color: #FFF;
    font-size: 40px;
    margin-bottom: 10px;
}

div.container div.hero div.description p.subtitle {
    color: #FFF;
    width: 400px;
}

div.container div.hero div.buttons {
    display: grid;
    grid-gap: 15px;
}

div.container div.hero div.description a {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

div.container div.hero div.description a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(0, 0, 255, 0.8);
    transition: text-shadow 0.3s ease;
}

div.container div.hero div.description p.subtitle {
    color: #FFF;
    width: 400px;
}

div.container div.hero div.description p.footnote {
    font-size: 10px;
    color: #FFF;
}

div.container div.hero div.description img.promo {
    position: relative;
    width: 250px;
    height: 350px;
    float: right;
}
/* /hero styles */

/* div styles */
section.white {
    color:#000;
    background-color: #FFF;
    border-radius: 10px;
    min-height: 300px;
}

section.back {
    color: #FFF;
    background-color: #000;
    min-height: 300px;
}

h2.headline.white {
	color: #FFF;
    position: relative;
}

h2.headline.black {
	color: #000;
    position: relative;
}

div.container div.center {
    width: 90%;
    min-height: 100px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


.warning {
    text-align: center;
    padding:6px;
}

.warning-red {
    background-color:#fdd;
}

.warning-yellow {
    background-color:#ffd;
    color:#a80;
    font-weight:bold;
}


/* footer styles */
footer {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FFF;
    width: 100%;
    min-height: 80px;
}

footer div.socialcontainer {
    display: inline-flex;
    gap: 15px;
    font-size: 30px;
}

footer div.socialcontainer i {
    display: inline-flex;
    color: #000;
}

footer p.copyright {
    font-size: 20px;
}

footer p.footnote {
    font-size: 15px;
    color: #000;
    max-width: 100%;
}


i.modrinth {
    position: relative;
    display: block;
    background-image: url(/assets/i/badges/modrinth.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    color: #000;
    margin-top: 3px;
}
/* /footer styles */
