<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="indexpage">

    <!-- container -->
    <div class="container">

      <noscript>
        <div id="javascript-warning" class="warning warning-yellow">
            Please enable JavaScript to use this site.
        </div>
      </noscript>

      {%- include header.html -%}

      <!-- cont -->
      <div class="cont">
        {{ content }}
      </div>
      <!-- /cont -->

      <div class="clearboth footkeeper"></div>

      {%- include footer.html -%}

    </div>
    <!-- /container -->

    {%- include popuwrp.html -%}

  </body>

</html>
