---
layout: base
---

   {{ content }}

   <div class="hero">
      <div class="description">
          <h2 class="title">Welcome!</h2>
          <p class="subtitle">Welcome to my website where you can find a whole bunch of files, projects and more!</p>
          <div class="buttons">
              <a href="https://github.com/veryuniqueusrnm?tab=repositories" target="_blank">Looking for my projects? <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </div>
          <p class="footnote">This website was made by VeryUniqueUsrnm.</p>
      </div>
  </div>
  <div class="about">
      <div class="center">
          <h2 id="about-me" class="headline">About me</h2>
          <p>My name is VeryUniqueUsrnm, a web developer from Hungary.</p>
      </div>
  </div>
  <div class="game-library">
      <div class="center">
          <h2 class="headline">Games I play</h2>
          <img src="/assets/i/game-covers/your-game-avatar.png" draggable="false" class="avatar">
          <img src="/assets/i/game-covers/your-game-avatar2.png" draggable="false" class="avatar">
          <img src="/assets/i/game-covers/your-game-avatar3.png" draggable="false" class="avatar">
      </div>
  </div>
  <div class="pc-specs">
      <div class="center">
          <h2 id="pc-specs" class="headline">PC specifications</h2>
          <p>I use a Potato PC for downloading stuff, code and gaming.</p>
          <table class="table">
              <tr>
                <td>CPU</td>
                <td>Intel Pentium III</td>
              </tr>
              <tr>
                  <td>GPU</td>
                  <td>NVIDIA GEFORCE 2 MX AGP 64 MB</td>
              </tr>
              <tr>
                  <td>RAM</td>
                  <td>Kingston 1 GB DDR2</td>
              </tr>
              <tr>
                  <td>Hard Disk</td>
                  <td>Samsung IDE 60 GB</td>
              </tr>
              <tr>
                  <td>Operating System</td>
                  <td>Windows XP Professional</td>
              </tr>
          </table>
      </div>
  </div>
  <div class="social">
      <div class="center">
          <h2 class="headline">Social media</h2>
          <div class="calendar">
              Loading the data just for you.
          </div>
          <script>
              GitHubCalendar(".calendar", "veryuniqueusrnm");
              // or enable responsive functionality
              GitHubCalendar(".calendar", "veryuniqueusrnm", { responsive: true });
          </script>
      </div>
  </div>

   <div class="sidePromo">

      <style>
         #skin-viewer *{ background-image: url('/Skin128x_fixed.png'); }
         #skin-viewer .cape{ background-image: url('./api/cloak/id/1/source'); }
      </style>
   
      <div id="skin-viewer" class="mc-skin-viewer-11x spin">
         <div class="player">
            <!-- Head -->
            <div class="head" >
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
               <div class="accessory">
                     <div class="top"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="right"></div>
                     <div class="back"></div>
                     <div class="bottom"></div>
               </div>
            </div>
            <!-- Body -->
            <div class="body">
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
               <div class="accessory">
                     <div class="top"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="right"></div>
                     <div class="back"></div>
                     <div class="bottom"></div>
               </div>
            </div>
            <!-- Left Arm -->
            <div class="left-arm">
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
               <div class="accessory">
                     <div class="top"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="right"></div>
                     <div class="back"></div>
                     <div class="bottom"></div>
               </div>
            </div>
            <!-- Right Arm -->
            <div class="right-arm">
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
               <div class="accessory">
                     <div class="top"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="right"></div>
                     <div class="back"></div>
                     <div class="bottom"></div>
               </div>
            </div>
            <!-- Left Leg -->
            <div class="left-leg">
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
               <div class="accessory">
                     <div class="top"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="right"></div>
                     <div class="back"></div>
                     <div class="bottom"></div>
               </div>
            </div>
            <!-- Right Leg -->
            <div class="right-leg">
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
               <div class="accessory">
                     <div class="top"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="right"></div>
                     <div class="back"></div>
                     <div class="bottom"></div>
               </div>
            </div>
            <!-- Cape -->
            <div class="cape">
               <div class="top"></div>
               <div class="left"></div>
               <div class="front"></div>
               <div class="right"></div>
               <div class="back"></div>
               <div class="bottom"></div>
            </div>
         </div>
      </div>


      
   </div>

