---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="promo">
    <h2>Welcome</h2>
    <p>Welcome to VeryUniqueUsrnm's VeryUniqueWebsite, where you can find a whole bunch of links, resources and more.</p>
    <a href="/blog/" class="button" target="_blank">Blog &amp; Updates</a>
    <a href="https://github.com/veryuniqueusrnm" class="button" target="_blank">Github</a>
    <a href="https://modrinth.com/user/VeryUniqueUsrnm" class="button" target="_blank">Modrinth</a>
  </div>

  <hr/>
   <section>
   <h3>Archived Stuff</h3>
   <ul>
      <li><a href="#" target="_blank">Example button</a> - Description</li>
   </ul>
   </section>

</div>
